<div 
    class="flex items-center justify-between bg-secondary text-loginText px-4 py-2 rounded-md w-full border-none focus-within:border focus-within:border-tikPink"
>
    <input 
        [type]="showPassword() ? 'text' : 'password'" 
        [value]="label" 
        (input)="onInput($event)"
        placeholder="Password" 
        class="bg-transparent flex-1 focus:outline-none text-loginText placeholder:text-loginText w-full h-full caret-tikPink border-none" 
    />
    <button 
        type="button" 
        (click)="togglePasswordVisibility()" 
        class="focus:outline-none bg-transparent border-none cursor-pointer"
    >
        @if (!showPassword()) {
            <img src={eyeOpenIcon} alt="eye-icon" />
        } @else {
            <img src={eyeClosedIcon} alt="eye-icon" />
        }
    </button>
</div>  
