@import "tailwindcss";

@theme {
  --color-tikTok-black: #171717;
  --color-tikTok-secondary: #252525;
  --color-tikTok-pink: #ff0050;
  --color-tikTok-acqua: #00f2ea;
  --color-tikTok-loginText: #747474;
  --color-tiktok-inputColor: #3f3f3f;
  --color-tiktok-buttonHover: #c40340;
}

html {
  font-family: "Nunito", serif;
}
